#addNewForm{
  width: 650px;
  height:650px;
}

#addLecBtn{
    float:right;
}

#skipBtn{
  margin-right: 30px;
}

#addLecture{
  float:right;
}

h5{
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}