<ng-template #dialog let-data let-ref="dialogRef">
    <nb-card id="addNewForm">
        <nb-card-header>Add Lectures</nb-card-header>
        <nb-card-body>
            <br>
            <!-- alert message -->
            <div class="animated fadeIn">
                <div class="alert alert-danger" role="alert" *ngIf="addLecAlert.status=='error'">
                    {{ addLecAlert.message }}
                </div>
                <div class="alert alert-warning" role="alert" *ngIf="addLecAlert.status=='warning'">
                    {{ addLecAlert.message }}
                </div>
                <div class="alert alert-success" role="alert" *ngIf="addLecAlert.status=='success'">
                    {{ addLecAlert.message }}
                </div>
            </div> <br>
            <form class="form-horizontal" [formGroup]="addNewLecForm" (ngSubmit)="addLecture()">
                <div class="form-group row">
                    <label for="courseMedium" class="label col-sm-5 form-control-label" style="font-size: 15px;"
                        style="font-size: 12.75px;">Choose Course </label>

                    <div class="col-sm-7">
                        <nb-select formControlName="course_medium_id" placeholder="Select Course"
                            (selectedChange)="loadSubjects($event)">
                            <nb-option *ngFor="let courseMedium of courseMediums" value={{courseMedium.id}}>
                                {{courseMedium.name}}
                            </nb-option>
                        </nb-select>
                    </div>
                </div><br><br><br>
                <div class="form-group row">
                    <label for="lectureName" class="label col-sm-5 form-control-label" style="font-size: 15px;"
                        style="font-size: 12.75px;">Select Subject </label>

                    <div class="col-sm-7">
                        <nb-select formControlName="subject_id" placeholder="Choose Subject"
                            (selectedChange)="loadLectures($event)">
                            <nb-option *ngFor="let subject of subjects" value={{subject.id}}>
                                {{subject.name}}
                            </nb-option>
                        </nb-select>
                    </div>
                </div><br><br><br>
                <div class="form-group row">
                    <label class="label col-sm-5 form-control-label" style="font-size: 14px;">Select
                        Lecture</label>
                    <br>
                    <div class="col-sm-7">
                        <nb-select formControlName="lecture_id" placeholder="Choose Lecture"
                            (selectedChange)="lectureSelection($event)">
                            <nb-option *ngFor="let lecture of lectures" value={{lecture.id}}>
                                {{lecture.name}}
                            </nb-option>
                        </nb-select>
                    </div>
                    <br>
                </div>
            </form>

        </nb-card-body>
        <nb-card-footer>
            <button nbButton (click)="ref.close()">Back</button>
            <button nbButton id="submitButton" (click)="addLecture(ref)">Add Lecture</button>&nbsp;
        </nb-card-footer>
    </nb-card>
</ng-template>

<div class="col-12">
    <nb-card size="flexible">
        <nb-tabset fullWidth>
            <nb-tab tabTitle="Profile-Dashboard">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius harum omnis, nobis voluptatem tenetur
                deserunt dolor excepturi explicabo dolore unde. Ad voluptas quidem, sapiente commodi est sed assumenda
            </nb-tab>

            <nb-tab tabTitle="Fee Management">
                <h1 align="center">FEES</h1><br>
                <nb-tabset>
                    <nb-tab tabTitle="Pending/Due payments">

                    </nb-tab>
                    <nb-tab tabTitle="Pay Fee ">
                        <br>
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th> Payment Name
                                        </th>
                                        <th> Payment Amount
                                        </th>
                                        <th> Status
                                        </th>
                                        <th> Pay Fee
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>GRD-12-E-ECONOMICS Payment</td>
                                        <td>Rs. 1700</td>
                                        <td>Payable</td>
                                        <td><button nbButton status="info">Pay Fee</button></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </nb-tab>
                    <nb-tab tabTitle="Fee Payment History">

                    </nb-tab>
                </nb-tabset>
            </nb-tab>

            <nb-tab tabTitle="Attendence">
                <br><br>
                aasasa
            </nb-tab>

            <nb-tab tabTitle="Lecture Details">
                <div class="animated fadeIn">
                    <div class="alert alert-danger" role="alert" *ngIf="lecAlert.status=='error'">
                        {{ lecAlert.message }}
                    </div>
                    <div class="alert alert-warning" role="alert" *ngIf="lecAlert.status=='warning'">
                        {{ lecAlert.message }}
                    </div>
                    <div class="alert alert-success" role="alert" *ngIf="lecAlert.status=='success'">
                        {{ lecAlert.message }}
                    </div>
                </div> <br>
                <nb-card>
                    <nb-card-header>
                        <div class="row">
                            <div class="col-sm-9"></div>
                            <div class="col-sm-3">
                                <button nbButton shape="semi-round" (click)="onAddClick(dialog)">Add New
                                    Lecture</button>
                            </div>
                        </div>
                    </nb-card-header>
                    <nb-card-body>
                        <br>
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>Lecture</th>
                                        <th>Course</th>
                                        <th>Type</th>
                                        <th>Teacher</th>
                                        <th>Delete</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let lecture of lecturesOfStudent">
                                        <td>{{lecture.name}}</td>
                                        <td>{{lecture.course_medium.name}}</td>
                                        <td>{{lecture.type}}</td>
                                        <td>{{lecture.teacher.name}}</td>
                                        <td><button nbButton outline status="warning">Delete</button></td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </nb-card-body>
                </nb-card>
            </nb-tab>
        </nb-tabset>
    </nb-card>
</div>