<div class="col-12">
    <nb-card size="flexible">
        <nb-tabset fullWidth>
            <nb-tab tabTitle="Student">
                <nb-card size="flexible" class="col-md-8 offset-md-2">
                    <nb-card-header>
                        Student Details
                    </nb-card-header>
                    <nb-card-header *ngIf="editAlert!=null">
                        <div class="animated fadeIn">
                            <div class="alert alert-danger" role="alert" *ngIf="editAlert.status=='error'">
                                {{ editAlert.message }}
                            </div>
                            <div class="alert alert-warning" role="alert" *ngIf="editAlert.status=='warning'">
                                {{ editAlert.message }}
                            </div>
                            <div class="alert alert-success" role="alert" *ngIf="editAlert.status=='success'">
                                {{ editAlert.message }}
                            </div>
                        </div> <br>
                    </nb-card-header>
                    <nb-card-body>
                        <br><br>
                        <form class="form-horizontal">
                            <div class="form-group row">
                                <label for="name" class="label col-sm-4 form-control-label"
                                    style="font-size: 12.75px;">Registration Number</label>
                                <div class="col-sm-8">
                                    <input type="text" name="registration_no" disabled
                                        [(ngModel)]="student.registration_no" nbInput fullWidth id="name"
                                        style="font-size: 12.75px;">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="mobileNo" class="label col-sm-4 form-control-label"
                                    style="font-size: 12.75px;">Name</label>
                                <div class="col-sm-8">
                                    <input type="text" name="name" [(ngModel)]="student.name" nbInput fullWidth
                                        id="mobileNo" style="font-size: 12.75px;">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="email" class="label col-sm-4 form-control-label"
                                    style="font-size: 12.75px;">
                                    Mobile Number</label>
                                <div class="col-sm-8">
                                    <input type="email" name="mobileNo" [(ngModel)]="student.mobile_no" nbInput
                                        fullWidth id="email" style="font-size: 12.75px;">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="schoolName" class="label col-sm-4 form-control-label"
                                    style="font-size: 12.75px;">School Name</label>
                                <div class="col-sm-8">
                                    <input type="text" name="schoolName" [(ngModel)]="student.school_name" nbInput
                                        fullWidth id="schoolName" style="font-size: 12.75px;">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="schoolName" class="label col-sm-4 form-control-label"
                                    style="font-size: 12.75px;">Email</label>
                                <div class="col-sm-8">
                                    <input type="text" name="email" [(ngModel)]="student.email" nbInput fullWidth
                                        id="schoolName" style="font-size: 12.75px;">
                                </div>
                            </div>
                            <button nbButton style="float: right;" type="submit" (click)="editStudent()">Edit</button>
                        </form>
                    </nb-card-body>
                </nb-card>
                <!-- <nb-card size="flexible" class="col-md-8 offset-md-2">
                    <nb-card-header>
                        Student Details
                    </nb-card-header>
                    <nb-card-body>
                        <br><br>
                        <form class="form-horizontal" [formGroup]="studentViewForm">
                            <div class="form-group row">
                                <label for="name" class="label col-sm-4 form-control-label"
                                    style="font-size: 12.75px;">Registration Number</label>
                                <div class="col-sm-8">
                                    <input type="text" formControlName="registration_no" nbInput
                                        fullWidth style="font-size: 12.75px;">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="mobileNo" class="label col-sm-4 form-control-label"
                                    style="font-size: 12.75px;">Name</label>
                                <div class="col-sm-8">
                                    <input type="text" name="name" [(ngModel)]="student.name" nbInput fullWidth
                                        id="mobileNo" style="font-size: 12.75px;">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="email" class="label col-sm-4 form-control-label"
                                    style="font-size: 12.75px;">
                                    Mobile Number</label>
                                <div class="col-sm-8">
                                    <input type="email" name="mobileNo" [(ngModel)]="student.mobile_no" nbInput
                                        fullWidth id="email" style="font-size: 12.75px;">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="schoolName" class="label col-sm-4 form-control-label"
                                    style="font-size: 12.75px;">School Name</label>
                                <div class="col-sm-8">
                                    <input type="text" name="schoolName" [(ngModel)]="student.school_name" nbInput
                                        fullWidth id="schoolName" style="font-size: 12.75px;">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="schoolName" class="label col-sm-4 form-control-label"
                                    style="font-size: 12.75px;">Email</label>
                                <div class="col-sm-8">
                                    <input type="text" name="email" [(ngModel)]="student.email" nbInput fullWidth
                                        id="schoolName" style="font-size: 12.75px;">
                                </div>
                            </div>
                            <button nbButton style="float: right;" type="submit">Edit</button>
                        </form>
                    </nb-card-body>
                </nb-card> -->
            </nb-tab>

            <nb-tab tabTitle="Fee Management">
                <h1 align="center">FEES</h1><br>
                <nb-tabset>
                    <nb-tab tabTitle="Pending/Due payments">
                        <table class="table table-bordered table-striped" *ngIf="duePayments.length!=0; else noDue">
                            <thead>
                                <tr>
                                    <th>Payment Name</th>
                                    <th>Type</th>
                                    <th>Year</th>
                                    <th>Month</th>
                                    <th>Amount</th>
                                    <th>Due Date</th>
                                    <th>Pay Fee</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let payment of duePayments">
                                    <td>{{payment.student_payment.payment.name}}</td>
                                    <td *ngIf="payment.student_payment.payment_type=='normal'">Normal</td>
                                    <td *ngIf="payment.student_payment.payment_type=='scheme'">Scheme</td>
                                    <td>{{payment.year}}</td>
                                    <td>{{payment.month}}</td>
                                    <td>{{payment.due_date}}</td>
                                    <td><button nbButton status="success" (click)="payFee(payFeeDialog, payment)">Pay
                                            Fee</button></td>
                                </tr>
                            </tbody>
                        </table>
                        <span #noDue>There are no any due payments for this student at the moment</span>
                    </nb-tab>
                    <nb-tab tabTitle="Pay Fee ">
                        <br>
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>Payment Name</th>
                                        <th>Payment Type</th>
                                        <th>Status</th>
                                        <th>Payment Amount</th>
                                        <th>Pay Fee</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let payment of studentPayments">
                                        <td *ngIf="payment.payment_type=='normal'">{{payment.payment.name}}</td>
                                        <td *ngIf="payment.payment_type=='scheme'">{{payment.payment_scheme.name}}</td>
                                        <td>{{payment.payment_type}}</td>
                                        <td>Payable</td>
                                        <td>{{payment.payment_amount}}</td>
                                        <td><button nbButton status="success"
                                                (click)="payFee(payFeeDialog, payment)">Pay
                                                Fee</button></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </nb-tab>
                    <nb-tab tabTitle="Fee Payment History">
                        <table class="table table-bordered table-striped" *ngIf="paidPayments.length!=0">
                            <thead>
                                <tr>
                                    <th>Payment Name</th>
                                    <th>Type</th>
                                    <th>Year</th>
                                    <th>Month</th>
                                    <th>Amount</th>
                                    <th>Paid Date</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let payment of paidPayments">
                                    <td>{{payment.student_payment.payment.name}}</td>
                                    <td *ngIf="payment.student_payment.payment_type=='normal'">Normal</td>
                                    <td *ngIf="payment.student_payment.payment_type=='scheme'">Scheme</td>
                                    <td>{{payment.year}}</td>
                                    <td>{{payment.month}}</td>
                                    <td>{{payment.student_payment.payment_amount}}</td>
                                    <td>{{payment.payment_date}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </nb-tab>
                </nb-tabset>
            </nb-tab>

            <nb-tab tabTitle="Attendence">
                <br>
                <nb-card>
                    <nb-card-header>
                        <div class="row">
                            <div class="col-sm-1"></div>
                            <div class="col-sm-5">
                                <div class="row">
                                    <div class="col-sm-4">
                                        Lecture
                                    </div>
                                    <div class="col-sm-8">
                                        <nb-select placeholder="Select Lecture Of Student"
                                            (selectedChange)="selectLecture($event)">
                                            <nb-option *ngFor="let lecture of lecturesOfStudent" value={{lecture.id}}>
                                                {{lecture.name}}
                                            </nb-option>
                                        </nb-select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-5">
                                <div class="row">
                                    <div class="col-sm-4">
                                        Date
                                    </div>
                                    <div class="col-sm-8">
                                        <input type="date" class="form-control"
                                            (change)="selectDate($event.target.value)" min="2020-09-10">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-1"></div>
                        </div>
                    </nb-card-header>
                    <nb-card-header *ngIf="schedule!=null">
                        <h5>General Schedule Of this Lecture</h5><br>
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Day</th>
                                    <th>Room Number</th>
                                    <th>Start Date</th>
                                    <th>End Date</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>{{scheduleDay}}</td>
                                    <td>{{schedule.room_id}}</td>
                                    <td>{{schedule.schedule_start_date}}</td>
                                    <td>{{schedule.schedule_end_date}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </nb-card-header>
                    <nb-card-header *ngIf="dailySchedulesByLec!=null && dailySchedulesByLec!='default'">
                        <!-- <div class="row">
                            <div class="col-sm-4">
                                <nb-radio-group [(ngModel)]="attendanceStatus">
                                    <nb-radio value="present">
                                        Present
                                    </nb-radio>
                                    <nb-radio value="absent">
                                        Absent
                                    </nb-radio>
                                </nb-radio-group>
                            </div>
                            <div class="col-sm-5"></div>
                            <div class="col-sm-3">
                                <button nbButton>Mark Attendance</button>
                            </div>
                        </div> -->
                        <h5>Schedules On this Date For this Lecture</h5><br>
                        <!-- alert message -->
                        <div class="animated fadeIn">
                            <div class="alert alert-danger" role="alert" *ngIf="lecAlert.status=='error'">
                                {{ lecAlert.message }}
                            </div>
                            <div class="alert alert-warning" role="alert" *ngIf="lecAlert.status=='warning'">
                                {{ lecAlert.message }}
                            </div>
                            <div class="alert alert-success" role="alert" *ngIf="lecAlert.status=='success'">
                                {{ lecAlert.message }}
                            </div>
                        </div> <br>
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Date</th>
                                    <th>Start Time</th>
                                    <th>End Time</th>
                                    <th>Room Number</th>
                                    <th>Mark Status</th>
                                    <th>Mark Attendance</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let schedule of dailySchedulesByLec">
                                    <td>{{schedule.date}}</td>
                                    <td>{{schedule.start_time}}</td>
                                    <td>{{schedule.end_time}}</td>
                                    <td>{{schedule.room.name}}</td>
                                    <td>
                                        <nb-radio-group [(ngModel)]="schedule.attendance">
                                            <nb-radio value="present">
                                                Present
                                            </nb-radio>
                                            <nb-radio value="absent">
                                                Absent
                                            </nb-radio>
                                        </nb-radio-group>
                                    </td>
                                    <td><button nbButton status="info" (click)="markAttendance(schedule)">Mark
                                            Attendance</button></td>
                                </tr>
                            </tbody>
                        </table>
                    </nb-card-header>
                    <nb-card-header *ngIf="dailySchedulesByLec==null">
                        <h5>There are no lecture schedules on this date for this lecture</h5>
                    </nb-card-header>
                </nb-card>
            </nb-tab>

            <nb-tab tabTitle="Lecture Details">
                <div class="animated fadeIn">
                    <div class="alert alert-danger" role="alert" *ngIf="lecAlert.status=='error'">
                        {{ lecAlert.message }}
                    </div>
                    <div class="alert alert-warning" role="alert" *ngIf="lecAlert.status=='warning'">
                        {{ lecAlert.message }}
                    </div>
                    <div class="alert alert-success" role="alert" *ngIf="lecAlert.status=='success'">
                        {{ lecAlert.message }}
                    </div>
                </div> <br>
                <nb-card>
                    <nb-card-header>
                        <div class="row">
                            <div class="col-sm-9"></div>
                            <div class="col-sm-3">
                                <button nbButton shape="semi-round" (click)="onAddClick(dialog)">Add New
                                    Lecture</button>
                            </div>
                        </div>
                    </nb-card-header>
                    <nb-card-body>
                        <br>
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>Lecture</th>
                                        <th>Course</th>
                                        <th>Type</th>
                                        <th>Teacher</th>
                                        <th>Delete</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let lecture of lecturesOfStudent">
                                        <td>{{lecture.name}}</td>
                                        <td>{{lecture.course_medium.name}}</td>
                                        <td>{{lecture.type}}</td>
                                        <td>{{lecture.teacher.name}}</td>
                                        <td><button nbButton outline status="warning"
                                                (click)="removeLecture(lecture)">Delete</button></td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </nb-card-body>
                </nb-card>
            </nb-tab>
        </nb-tabset>
    </nb-card>
</div>



<ng-template #dialog let-data let-ref="dialogRef">
    <nb-card id="addNewForm">
        <nb-card-header>Add Lectures</nb-card-header>
        <nb-card-body>
            <br>
            <!-- alert message -->
            <div class="animated fadeIn">
                <div class="alert alert-danger" role="alert" *ngIf="addLecAlert.status=='error'">
                    {{ addLecAlert.message }}
                </div>
                <div class="alert alert-warning" role="alert" *ngIf="addLecAlert.status=='warning'">
                    {{ addLecAlert.message }}
                </div>
                <div class="alert alert-success" role="alert" *ngIf="addLecAlert.status=='success'">
                    {{ addLecAlert.message }}
                </div>
            </div> <br>
            <form class="form-horizontal" [formGroup]="addNewLecForm" (ngSubmit)="addLecture()">
                <div class="form-group row">
                    <label for="courseMedium" class="label col-sm-5 form-control-label" style="font-size: 15px;"
                        style="font-size: 12.75px;">Choose Course </label>

                    <div class="col-sm-7">
                        <nb-select formControlName="course_medium_id" placeholder="Select Course"
                            (selectedChange)="loadSubjects($event)">
                            <nb-option *ngFor="let courseMedium of courseMediums" value={{courseMedium.id}}>
                                {{courseMedium.name}}
                            </nb-option>
                        </nb-select>
                    </div>
                </div><br><br><br>
                <div class="form-group row">
                    <label for="lectureName" class="label col-sm-5 form-control-label" style="font-size: 15px;"
                        style="font-size: 12.75px;">Select Subject </label>

                    <div class="col-sm-7">
                        <nb-select formControlName="subject_id" placeholder="Choose Subject"
                            (selectedChange)="loadLectures($event)">
                            <nb-option *ngFor="let subject of subjects" value={{subject.id}}>
                                {{subject.name}}
                            </nb-option>
                        </nb-select>
                    </div>
                </div><br><br><br>
                <div class="form-group row">
                    <label class="label col-sm-5 form-control-label" style="font-size: 14px;">Select
                        Lecture</label>
                    <br>
                    <div class="col-sm-7">
                        <nb-select formControlName="lecture_id" placeholder="Choose Lecture"
                            (selectedChange)="lectureSelection($event)">
                            <nb-option *ngFor="let lecture of lectures" value={{lecture.id}}>
                                {{lecture.name}}
                            </nb-option>
                        </nb-select>
                    </div>
                    <br>
                </div>
            </form>

        </nb-card-body>
        <nb-card-footer>
            <button nbButton (click)="ref.close()">Back</button>
            <button nbButton id="addLecture" (click)="addLecture(ref)">Add Lecture</button>&nbsp;
        </nb-card-footer>
    </nb-card>
</ng-template>

<ng-template #payFeeDialog let-data let-ref="dialogRef">
    <nb-card id="addNewForm">
        <nb-card-header>Pay Monthly Fee</nb-card-header>
        <nb-card-body>
            <br>
            <!-- alert message -->
            <div class="animated fadeIn">
                <div class="alert alert-danger" role="alert" *ngIf="addLecAlert.status=='error'">
                    {{ addLecAlert.message }}
                </div>
                <div class="alert alert-warning" role="alert" *ngIf="addLecAlert.status=='warning'">
                    {{ addLecAlert.message }}
                </div>
                <div class="alert alert-success" role="alert" *ngIf="addLecAlert.status=='success'">
                    {{ addLecAlert.message }}
                </div>
            </div> <br>
            <form class="form-horizontal" [formGroup]="monthlyPaymentForm">
                <div class="form-group row">
                    <label for="courseMedium" class="label col-sm-5 form-control-label" style="font-size: 15px;"
                        style="font-size: 12.75px;">Select Month</label>

                    <div class="col-sm-7">
                        <nb-select formControlName="month" placeholder="Month">
                            <nb-option *ngFor="let month of monthlyPayments" value={{month.id}}>
                                {{month.month}}
                            </nb-option>
                        </nb-select>
                    </div>
                </div><br><br><br>
                <div class="form-group row">
                    <label class="label col-sm-5 form-control-label" style="font-size: 15px;"
                        style="font-size: 12.75px;">Amount</label>

                    <div class="col-sm-7">
                        <input type="text" nbInput style="font-size: 12.75px;"
                            placeholder="{{selectedPayment.payment_amount}}" disabled>
                    </div>
                </div><br><br>
            </form>

        </nb-card-body>
        <nb-card-footer>
            <button nbButton (click)="ref.close()">Back</button>
            <button nbButton type="submit" id="addLecBtn" (click)="payMonthlyFee(ref)">Pay Fee</button>&nbsp;
            <button nbButton id="skipBtn" (click)="skipMonthPayment()">Skip This Month
                Payment</button>&nbsp;&nbsp;
        </nb-card-footer>
    </nb-card>
</ng-template>