:host ::ng-deep nb-stepper .step-content {
    text-align: center;
  
    button {
      cursor: pointer;
      margin: 0.5rem;
    }
  }
.container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}