<div class="steppers-container row">
    <div [ngClass]="decideClass()">
        <nb-card size="flexible">
            <nb-card-header *ngIf="!nextStep">
                Register Student
            </nb-card-header>
            <nb-card-header *ngIf="nextStep">
                Payment/Payments For Student
            </nb-card-header>
            <nb-card-header>
                <div class="animated fadeIn">
                    <div class="alert alert-danger" role="alert" *ngIf="alert.status=='error'">
                        {{ alert.message }}
                    </div>
                    <div class="alert alert-warning" role="alert" *ngIf="alert.status=='warning'">
                        {{ alert.message }}
                    </div>
                    <div class="alert alert-success" role="alert" *ngIf="alert.status=='success'">
                        {{ alert.message }}
                    </div>
                </div>
            </nb-card-header>
            <nb-card-body *ngIf="!nextStep">
                <!-- <div class="row"> -->
                <form [formGroup]="studentForm">
                    <!-- <div class="col-sm-6"> -->
                    <div class="form-group row">
                        <div class="form-control-group col-sm-6">
                            <label for="studentName" class="label form-control-label" style="font-size: 12.75px;">Enter
                                Student Name</label>
                            <input type="text" formControlName="name" nbInput fullWidth id="studentName"
                                style="font-size: 12.75px;" placeholder="Student Name">
                        </div><br>

                        <div class="form-control-group col-sm-6">
                            <label for="studentName" class="label form-control-label" style="font-size: 12.75px;">Enter
                                Student School Name</label>
                            <input type="text" formControlName="schoolName" nbInput fullWidth id="studentName"
                                style="font-size: 12.75px;" placeholder="Student School Name">
                        </div><br>
                    </div>

                    <div class="form-group row">
                        <div class="form-control-group col-sm-6">
                            <label for="studentName" class="label form-control-label" style="font-size: 12.75px;">Enter
                                Student Email</label>
                            <input type="text" formControlName="email" nbInput fullWidth id="studentName"
                                style="font-size: 12.75px;" placeholder="Email Address">
                        </div>
                        <br>

                        <div class="form-control-group col-sm-6">
                            <label for="mobileNo" class="label form-control-label" style="font-size: 12.75px;">Enter
                                Student Mobile Number</label>
                            <input type="number" formControlName="mobileNo" nbInput fullWidth id="mobileNo"
                                style="font-size: 12.75px;" placeholder="Student Mobile Number">
                        </div>
                        <br>
                    </div>


                    <div class="form-group row">
                        <div class="form-control-group col-sm-4">
                            <label for="course" class="label form-control-label" style="font-size: 12.75px;">Select
                                Student Course Type</label><br>
                            <nb-select formControlName="student_type" placeholder="Select Course Type"
                                (selectedChange)="courseTypeSelection($event)">
                                <nb-option value="advance_level">Advance Level</nb-option>
                                <nb-option value="ordinary_level">Ordinary Level</nb-option>
                            </nb-select>
                        </div><br>

                        <div class="form-control-group col-sm-4">
                            <label for="subjectName" class="label form-control-label" style="font-size: 12.75px;">Select
                                Super Course</label><br>
                            <nb-select formControlName="super_course" placeholder="Select Super Course"
                                (selectedChange)="superCourseSelection($event)">
                                <nb-option *ngFor="let course of courses" value={{course.id}}>
                                    {{course.name}}
                                </nb-option>
                            </nb-select>
                        </div><br>

                        <div class="form-control-group col-sm-4">
                            <label for="subjectName" class="label form-control-label" style="font-size: 12.75px;">Select
                                Course </label><br>
                            <nb-select formControlName="course" placeholder="Select Course Medium"
                                (selectedChange)="courseSelection($event)">
                                <nb-option *ngFor="let courseMedium of courseMediums" value={{courseMedium.id}}>
                                    {{courseMedium.name}}</nb-option>
                            </nb-select>
                        </div>

                    </div>


                    <nb-card accent="info" size="flexible">
                        <nb-card-header>Select Lectures</nb-card-header>
                        <nb-card-body>
                            <div class="row">
                                <div class="col-sm-6">
                                    <label for="subjectName" class="label form-control-label"
                                        style="font-size: 12.75px;">Select Subject </label><br>
                                    <nb-select formControlName="subject" placeholder="Select Subject"
                                        (selectedChange)="subjectSelection($event)">
                                        <nb-option *ngFor="let subject of subjects" value={{subject.id}}>
                                            {{subject.name}}
                                        </nb-option>
                                    </nb-select><br><br>

                                </div>
                                <div class="col-sm-6">
                                    <label for="subjectName" class="label form-control-label"
                                        style="font-size: 12.75px;">Select Lecture</label><br>
                                    <nb-select select-min-width placeholder="Select Lecture" formControlName="lecture">
                                        <nb-option *ngFor="let lecture of lectures" value={{lecture.id}}>
                                            {{lecture.name}}</nb-option>
                                    </nb-select><br>
                                </div>

                                <button style="float: right;" nbButton type="button"
                                    (click)="addLectureToDisplayList()">Add
                                    Lecture</button>

                            </div>
                        </nb-card-body>
                    </nb-card>
                </form>
            </nb-card-body>
            <nb-card-footer *ngIf="!nextStep">
                <button style="float: right;" nbButton type="button" (click)="onSecondSubmit()">Next</button>
            </nb-card-footer>


            <nb-card-body *ngIf="nextStep">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Payment Name</th>
                                <th>Student Fee</th>
                                <th>Fixed Institute Amount</th>
                                <th>Teacher Percentage</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let normalPayment of normalPayments">
                                <td>{{normalPayment.name}}</td>
                                <td>{{normalPayment.student_fee}}</td>
                                <td>{{normalPayment.fixed_institute_amount}}</td>
                                <td>{{normalPayment.teacher_percentage}}%</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </nb-card-body>
            <nb-card-footer *ngIf="nextStep">
                <button nbButton style="float: left;" type="button" (click)="backClick()">BACK</button>
                <button nbButton style="float: right;" type="button" (click)="addStudent()">Submit</button>
            </nb-card-footer>
        </nb-card>
    </div>

    <div class="col-md-3 col-lg-3" *ngIf="selectedLectures.length!=0 && nextStep==false">
        <nb-card size="medium">
            <nb-card-header>
                Selected Lectures
            </nb-card-header>
            <nb-list>
                <nb-list-item *ngFor="let lecture of selectedLectures">
                    {{ lecture.name }}
                    <!-- &nbsp;&nbsp;&nbsp; -->
                    &nbsp; &nbsp;
                    <button nbButton shape="round" size="tiny" status="info"
                        (click)="removeLecture(lecture.id)">Remove</button>
                </nb-list-item>
            </nb-list>
        </nb-card>
    </div>
</div>