<!-- alert message -->
<div class="animated fadeIn col-12">
    <div class="alert alert-danger" role="alert" *ngIf="createRoomAlert.status=='error'">
        {{ createRoomAlert.message }}
    </div>
    <div class="alert alert-warning" role="alert" *ngIf="createRoomAlert.status=='warning'">
        {{ createRoomAlert.message }}
    </div>
    <div class="alert alert-success" role="alert" *ngIf="createRoomAlert.status=='success'">
        {{ createRoomAlert.message }}
    </div>
</div>
<div class="col-12">
    <nb-card size="flexible">
        <nb-tabset fullWidth>
            <nb-tab tabTitle="Create Room">
                <div class="row">
                    <div class="col-md-9 offset-md-2">
                        <nb-card>
                            <nb-card-header>Create Room</nb-card-header>
                            <nb-card-body>
                                <form class="form-horizontal" [formGroup]="roomCreationForm"
                                    (ngSubmit)="createNewRoom()">

                                    <div class="form-group row">
                                        <label for="name" class="label col-sm-4 form-control-label"
                                            style="font-size: 12.75px;">Enter
                                            Room Name</label>
                                        <div class="col-sm-8">
                                            <input type="text" formControlName="name" nbInput id="name"
                                                style="font-size: 12.75px;" placeholder="Room Name">
                                        </div>
                                    </div><br>

                                    <div class="form-group row">
                                        <label for="no_of_seats" class="label col-sm-4 form-control-label"
                                            style="font-size: 12.75px;">Enter Number Of Seats</label>
                                        <div class="col-sm-8">
                                            <input type="text" formControlName="no_of_seats" nbInput id="no_of_seats"
                                                style="font-size: 12.75px;" placeholder="Eg: 55">
                                        </div>
                                    </div><br>


                                    <div class="form-group row">
                                        <label for="description" class="label col-sm-4 form-control-label"
                                            style="font-size: 12.75px;">Description</label>
                                        <div class="col-sm-8">
                                            <textarea rows="5" formControlName="description" nbInput
                                                placeholder="Course Description"></textarea>
                                        </div>
                                    </div><br>

                                    <div class="form-group row">
                                        <div class="offset-sm-3 col-sm-8">
                                            <button type="submit" nbButton status="primary">Create New Room</button>
                                        </div>
                                    </div>

                                </form>
                            </nb-card-body>
                        </nb-card>
                    </div>
                </div>
            </nb-tab>

            <nb-tab tabTitle="Edit and Delete">
                <br><br>

                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Room Name</th>
                            <th>Number of seats </th>
                            <th>Description</th>

                            <th>Status</th>
                            <th>Edit</th>
                            <th *ngIf="role=='Admin'">Delete</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let room of rooms">
                            <td>{{room.name}}</td>
                            <td>{{room.no_of_seats}}</td>
                            <td>{{room.description}}</td>

                            <td *ngIf="room.status=='active'"><span class="badge badge-success">Active</span>
                            </td>
                            <td *ngIf="room.status=='deleted'"><span class="badge badge-warning">Deleted</span>
                            </td>
                            <td><button class="btn btn-primary" (click)="editClick(room)">Edit</button></td>
                            <td *ngIf="role=='Admin' && room.status=='active'">
                                <button class="btn btn-warning" (click)="changeStatus(room,'deleted')">
                                    Delete</button>
                            </td>
                            <td *ngIf="role=='Admin' && room.status=='deleted'">
                                <button class="btn btn-success" (click)="changeStatus(room,'active')">
                                    Activate</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <br>

                <div class="row" *ngIf="editFormDisplay">
                    <div class="col-md-9 offset-md-1">
                        <nb-card>
                            <nb-card-header>Edit Room</nb-card-header>
                            <nb-card-body>
                                <form class="form-horizontal" [formGroup]="roomUpdationForm" (ngSubmit)="updateRoom()">
                                    <div class="form-group row">
                                        <label for="name" class="label col-sm-4 form-control-label"
                                            style="font-size: 12.75px;">Enter
                                            Room Name</label>
                                        <div class="col-sm-8">
                                            <input type="text" formControlName="name" nbInput id="name"
                                                style="font-size: 12.75px;" placeholder="Room Name">
                                        </div>
                                    </div><br>

                                    <div class="form-group row">
                                        <label for="no_of_seats" class="label col-sm-4 form-control-label"
                                            style="font-size: 12.75px;">Enter Number Of Seats</label>
                                        <div class="col-sm-8">
                                            <input type="text" formControlName="no_of_seats" nbInput id="no_of_seats"
                                                style="font-size: 12.75px;" placeholder="Eg: 55">
                                        </div>
                                    </div><br>

                                    <div class="form-group row">
                                        <label for="description" class="label col-sm-4 form-control-label"
                                            style="font-size: 12.75px;">Description</label>
                                        <div class="col-sm-8">
                                            <textarea rows="5" formControlName="description" nbInput
                                                placeholder="Course Description"></textarea>
                                        </div>
                                    </div><br>

                                    <div class="form-group row">
                                        <div class="offset-sm-3 col-sm-8">
                                            <button type="submit" nbButton status="success">Update Room Info</button>
                                            &nbsp;&nbsp;
                                            <button nbButton status="info" (click)="cancelEditForm()">Cancel</button>
                                        </div>
                                    </div>

                                </form>
                            </nb-card-body>
                        </nb-card>
                    </div>
                </div>

            </nb-tab>
        </nb-tabset>
    </nb-card>
</div>