<div class="col-12">
    <nb-card size="flexible">
        <nb-tabset fullWidth>
            <nb-tab tabTitle="Profile">
                <div class="col-md-8 offset-md-2">
                    <nb-card>
                        <nb-card-header>Register Teacher</nb-card-header>
                        <nb-card-body>
                            <form class="form-horizontal">
                                <div class="form-group row">
                                    <label for="name" class="label col-sm-3 form-control-label"
                                        style="font-size: 12.75px;">Enter
                                        Teacher Name</label>
                                    <div class="col-sm-9">
                                        <input type="text" [(ngModel)]="teacher.name" name="name" nbInput fullWidth
                                            id="name" style="font-size: 12.75px;" placeholder="Name">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="nic" class="label col-sm-3 form-control-label"
                                        style="font-size: 12.75px;">NIC
                                        Number</label>
                                    <div class="col-sm-9">
                                        <input type="text" name="nic" nbInput fullWidth id="nic" ng-model="field"
                                            style="font-size: 12.75px;" placeholder="981592298v">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="email" class="label col-sm-3 form-control-label"
                                        style="font-size: 12.75px;">Enter
                                        Email</label>
                                    <div class="col-sm-9">
                                        <input type="email" [(ngModel)]="teacher.email" name="email" nbInput fullWidth
                                            id="email" style="font-size: 12.75px;" placeholder="Email">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="mobile_no" class="label col-sm-3 form-control-label"
                                        style="font-size: 12.75px;">Enter Contact Number</label>
                                    <div class="col-sm-9">
                                        <input type="text" [(ngModel)]="teacher.mobile_no" name="mobile_no" nbInput
                                            fullWidth id="mobile_no" style="font-size: 12.75px;"
                                            placeholder="Contact Number">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="address" class="label col-sm-3 form-control-label"
                                        style="font-size: 12.75px;">Enter
                                        Address</label>
                                    <div class="col-sm-9">
                                        <input type="text" [(ngModel)]="teacher.address" name="address" nbInput
                                            fullWidth id="address" style="font-size: 12.75px;"
                                            placeholder="Home Address">
                                    </div>
                                </div>
                                <button nbButton type="submit" (click)="submitEdit()">EDIT STUDENT</button>
                            </form>
                        </nb-card-body>
                    </nb-card>
                </div>
            </nb-tab>

            <nb-tab tabTitle="Teacher Monthly Student Fee">
                <div class="col-md-11 col-lg-11 col-xxxl-7 offset-md-1">
                    <!-- alert message -->
                    <div class="animated fadeIn">
                        <div class="alert alert-danger" role="alert" *ngIf="alertRemun.status=='Error'">
                            {{ alertRemun.message }}
                        </div>
                        <div class="alert alert-warning" role="alert" *ngIf="alertRemun.status=='warning'">
                            {{ alertRemun.message }}
                        </div>
                        <div class="alert alert-success" role="alert" *ngIf="alertRemun.status=='success'">
                            {{ alertRemun.message }}
                        </div>
                    </div>
                </div>



                <!-- start -->
                <nb-card>
                    <nb-card-header>
                        <form formGroup="selectRemunTimeForm">
                            <div class="row">
                                <div class="col-sm-2">
                                    Remunerations Of Lectures
                                </div>
                                <div class="col-sm-4">
                                    <nb-select placeholder="Select Lecture"
                                        (selectedChange)="selectRemunerationLec($event)" formControlName="lecture">
                                        <nb-option *ngFor="let lecture of lecturesOfTeacher" value={{lecture.id}}>
                                            {{lecture.name}}
                                        </nb-option>
                                    </nb-select>
                                </div>
                                <div class="col-sm-1">
                                    Year
                                </div>
                                <div class="col-sm-2">
                                    <nb-select placeholder="Year" (selectedChange)="selectYear($event)"
                                        formControlName="year">
                                        <nb-option *ngFor="let lecYear of lecYears | keyvalue" value={{lecYear.key}}>
                                            {{lecYear.key}}
                                        </nb-option>
                                    </nb-select>
                                </div>
                                <div class="col-sm-1">
                                    Month
                                </div>
                                <div class="col-sm-2">
                                    <nb-select placeholder="Month" (selectedChange)="selectMonth($event)"
                                        formControlName="month">
                                        <nb-option *ngFor="let lecMonth of lecMonths" value={{lecMonth}}>
                                            {{lecMonth}}
                                        </nb-option>
                                    </nb-select>
                                </div>
                            </div>
                        </form>
                    </nb-card-header>
                    <nb-card-header>
                        <div class="row">
                            <div class="col-sm-5"></div>
                            <div class="col-sm-2">
                                <button nbButton (click)="seeMyRemuns()">Student Fee Info</button>
                            </div>
                            <div class="col-sm-5"></div>
                        </div>
                    </nb-card-header>
                    <nb-card-body>
                        <div class="col-12">
                            <nb-card size="flexible">
                                <nb-tabset fullWidth>
                                    <nb-tab tabTitle="All Student Fee Status">
                                        <div class="table-responsive">
                                            <br>
                                            <table class="table table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th>Student Name</th>
                                                        <th>Registration No.</th>
                                                        <th>Payment Type</th>
                                                        <th>Month</th>
                                                        <th>Status</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let remun of allMonthlyRemunerations">
                                                        <td>{{remun.name}}</td>
                                                        <td>{{remun.registration_no}}</td>
                                                        <td>{{remun.payment_type}}</td>
                                                        <td>{{remun.year}} {{remun.month}}</td>
                                                        <td>{{remun.status}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </nb-tab>

                                    <nb-tab tabTitle="Paid Students">
                                        <table class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>Student Name</th>
                                                    <th>Registration No.</th>
                                                    <th>Payment Type</th>
                                                    <th>Month</th>
                                                    <th>Status</th>
                                                    <th>Paid Date</th>
                                                    <th>Teacher Amount</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let remun of paidMonthlyRemunerations">
                                                    <td>{{remun.name}}</td>
                                                    <td>{{remun.registration_no}}</td>
                                                    <td>{{remun.payment_type}}</td>
                                                    <td>{{remun.year}} {{remun.month}}</td>
                                                    <td>{{remun.status}}</td>
                                                    <td>{{remun.payment_date}}</td>
                                                    <td>Rs.{{remun.teacher_amount}}</td>
                                                </tr>
                                                <tr>
                                                    <td colspan="6" align="center"><strong>Total Teacher Amount For This
                                                            Month</strong>
                                                    </td>
                                                    <td>Rs.{{totalAmountReceivedForMonth}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </nb-tab>
                                </nb-tabset>
                            </nb-card>
                        </div>
                    </nb-card-body>
                </nb-card>
            </nb-tab>

            <nb-tab tabTitle="Total Monthly Share">
                <br>
                <nb-tabset fullWidth>
                    <nb-tab tabTitle="By Lecture">
                        <nb-card>
                            <nb-card-header>
                                <div class="row">
                                    <div class="col-sm-2">
                                        Select Lectures
                                    </div>
                                    <div class="col-sm-4">
                                        <nb-select placeholder="Please Select A Lecture"
                                            (selectedChange)="getTotalMonthlyIncomeForLecture($event)">
                                            <nb-option *ngFor="let lecture of lecturesOfTeacher" value={{lecture.id}}>
                                                {{lecture.name}}
                                            </nb-option>
                                        </nb-select>
                                    </div>
                                </div>
                            </nb-card-header>
                            <nb-card-body>
                                <div class="table-responsive" *ngIf="totalMonthlyIncomeForLectures.length!=0">
                                    <br>
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th>Year</th>
                                                <th>Month</th>
                                                <th>Total Amount</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let income of totalMonthlyIncomeForLectures">
                                                <td>{{income.year}}</td>
                                                <td>{{income.month}}</td>
                                                <td>Rs.{{income.total_amount}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </nb-card-body>
                        </nb-card>
                    </nb-tab>

                    <nb-tab tabTitle="Total">
                        <div class="table-responsive">
                            <br>
                            <table class="table table-bordered" *ngIf="totalMonthlyIncome.length!=0">
                                <thead>
                                    <tr>
                                        <th>Year</th>
                                        <th>Month</th>
                                        <th>Total Amount</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let income of totalMonthlyIncome">
                                        <td>{{income.year}}</td>
                                        <td>{{income.month}}</td>
                                        <td>Rs.{{income.total_amount}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </nb-tab>
                </nb-tabset>
            </nb-tab>
        </nb-tabset>
    </nb-card>
</div>