<div class="col-12">
    <nb-card size="flexible">
        <nb-tabset fullWidth>
            <nb-tab tabTitle="Profile-Dashboard">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius harum omnis, nobis voluptatem tenetur
                deserunt dolor excepturi explicabo dolore unde. Ad voluptas quidem, sapiente commodi est sed assumenda
            </nb-tab>

            <nb-tab tabTitle="Fee Management">
                <h1 align="center">FEES</h1><br>
                <nb-tabset>
                    <nb-tab tabTitle="Pending/Due payments">

                    </nb-tab>
                    <nb-tab tabTitle="Pay Fee ">
                        <br>
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th> Extra small devices

                                        </th>
                                        <th> Small devices

                                        </th>
                                        <th> Medium devices
                                        </th>
                                        <th> Large devices
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>None (auto)</td>
                                        <td>None (auto)</td>
                                        <td>540px</td>
                                        <td><button nbButton status="info">Pay Fee</button></td>
                                    </tr>
                                    <tr>
                                        <td>None (auto)</td>
                                        <td>None (auto)</td>
                                        <td>540px</td>
                                        <td><button nbButton status="info">Pay Fee</button></td>
                                    </tr>
                                    <tr>
                                        <td>None (auto)</td>
                                        <td>None (auto)</td>
                                        <td>540px</td>
                                        <td><button nbButton status="info">Pay Fee</button></td>
                                    </tr>
                                    <tr>
                                        <td>None (auto)</td>
                                        <td>None (auto)</td>
                                        <td>540px</td>
                                        <td><button nbButton status="info">Pay Fee</button></td>
                                    </tr>
                                    <tr>
                                        <td>None (auto)</td>
                                        <td>None (auto)</td>
                                        <td>540px</td>
                                        <td><button nbButton status="info">Pay Fee</button></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </nb-tab>
                    <nb-tab tabTitle="Fee Payment History">

                    </nb-tab>
                </nb-tabset>
            </nb-tab>

            <nb-tab tabTitle="Attendence">
                <br><br>
                aasasa
            </nb-tab>

            <nb-tab tabTitle="Lecture Details">
                <span>Content #4</span>
            </nb-tab>
            <!-- <nb-tab tabTitle="Fee">
                <span>Content #5</span>
            </nb-tab> -->

        </nb-tabset>
    </nb-card>
</div>