a {
    color: #0060B6;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    text-decoration: none;
    font-size: 18px;
}

a:hover {
    color:#0f0f0f; 
    text-decoration:none; 
    cursor:pointer;  
}

#lesson_name{
    font-weight: 100;
    font-size: x-large;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif; 
}