<nb-card>
    <nb-card-header>
        Lecture Materials
    </nb-card-header>
    <nb-card-header *ngFor="let lesson of lessons">
        <div id="lesson_name">{{lesson.name}}</div><br>
        <ul style="list-style-type:none;">
            <li *ngFor="let material of lesson.materials">
                <a [routerLink]="" (click)="downloadFile(material)">
                    <nb-icon icon="download" [options]="{ animation: { type: 'pulse' } }"></nb-icon>
                    {{material.file_name}}
                </a>
                <br>
            </li>
        </ul>
    </nb-card-header>
</nb-card>