<div class="container">
    <div class="row">
        <div class="col-lg-4 col-sm-6">
            <div class="card-box bg-blue">
                <div class="inner">
                    <h3>{{countData.student_count}}</h3>
                    <p> Students </p>
                </div>
                <div class="icon">
                    <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                </div>
                <a [routerLink]="studentOpLink" class="card-box-footer">All Student Operations <i
                        class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>

        <div class="col-lg-4 col-sm-6">
            <div class="card-box bg-red">
                <div class="inner">
                    <h3> {{countData.user_count}} </h3>
                    <p> Users </p>
                </div>
                <div class="icon">
                    <i class="fa fa-users"></i>
                </div>
                <a [routerLink]="userMgtLink" class="card-box-footer">Users<i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6">
            <div class="card-box bg-orange">
                <div class="inner">
                    <h3> New Admissions </h3>
                    <p> Create Student </p>
                </div>
                <div class="icon">
                    <i class="fa fa-user-plus" aria-hidden="true"></i>
                </div>
                <a [routerLink]="createStudentLink" class="card-box-footer">Admit Student<i
                        class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-lg-4 col-sm-6">
            <div class="card-box bg-red">
                <div class="inner">
                    <h3>{{countData.teacher_count}}</h3>
                    <p> Teachers</p>
                </div>
                <div class="icon">
                    <i class="fa fa-users"></i>
                </div>
                <a [routerLink]="teacherOpLink" class="card-box-footer">All Teacher Operations <i
                        class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6">
            <div class="card-box bg-blue">
                <div class="inner">
                    <h3> {{countData.lecture_count}} </h3>
                    <p> Lectures </p>
                </div>
                <div class="icon">
                    <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                </div>
                <a [routerLink]="addNewLec" class="card-box-footer">Add New Lecture<i
                        class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>

        <div class="col-lg-4 col-sm-6">
            <div class="card-box bg-green">
                <div class="inner">
                    <h3> Daily Schedules </h3>
                    <p> View Schedules By Date </p>
                </div>
                <div class="icon">
                    <i class="fa fa-money" aria-hidden="true"></i>
                </div>
                <a [routerLink]="dailyScheduleOpLink" class="card-box-footer">All Daily Schedule Operations<i
                        class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>

    </div>
</div>