<style>
    table {
        border-collapse: collapse;
    }

    table,
    td,
    thead,
    th {
        border: 2px solid blue;
    }
</style>
<ng-template #dialog let-data let-ref="dialogRef">
    <nb-card>
        <nb-card-header>Delete Confimation</nb-card-header>
        <nb-card-body>{{ data }}</nb-card-body>
        <nb-card-footer>
            <button nbButton (click)="onDeleteConfirmation(ref, data)">Yes</button>&nbsp;
            <button nbButton (click)="ref.close()">Cancel</button>
        </nb-card-footer>
    </nb-card>
</ng-template>

<nb-card accent="info">
    <nb-card-header align="center">View Daily Schedules</nb-card-header>
    <nb-card-body>
        <form class="form-horizontal" [formGroup]="dateSelectionForm">
            <div class="form-group row">
                <div class="col-sm-8">
                    <label for="date" class="label col-sm-3 form-control-label" style="font-size: 15px;">Select
                        Date</label>
                    <div class="col-sm-9">
                        <input type="date" (change)="getSchedules()" class="form-control" formControlName="date">
                    </div>
                    <!-- <a (click)="onScroll(scheduleForm)">
                        TEST
                    </a> -->
                </div>
                <div class="col-sm-4">
                    <div>
                        <br>
                        <button *ngIf="!isDateSelected; else enabledButton" nbButton disabled fullWidth shape="round"
                            status="info">Create Schedule In this
                            Date</button>
                        <ng-template #enabledButton>
                            <button nbButton fullWidth shape="round" status="info"
                                (click)="onCreateClick(createForm)">Create
                                Schedule In this
                                Date</button>
                        </ng-template>
                    </div>
                </div>
            </div>
        </form>
    </nb-card-body>
</nb-card>
<br>

<div class="animated fadeIn">
    <div class="alert alert-danger" role="alert" *ngIf="deleteAlertMessage.status=='Error'">
        {{ deleteAlertMessage.message }}
    </div>
    <div class="alert alert-warning" role="alert" *ngIf="deleteAlertMessage.status=='warning'">
        {{ deleteAlertMessage.message }}
    </div>
    <div class="alert alert-success" role="alert" *ngIf="deleteAlertMessage.status=='success'">
        {{ deleteAlertMessage.message }}
    </div>
</div>

<nb-card status="basic" size="flexible">
    <nb-card-header align="center">View All Schedules On Date - {{dateSelectionForm.value.date}}</nb-card-header>
    <nb-card-body>
        <div class="row">
            <div class="col-sm-4" *ngFor="let room of rooms">
                <nb-card>
                    <nb-card-header>{{room.name}}</nb-card-header>
                    <nb-card-body>
                        <ng-container *ngFor="let schedule of schedules">
                            <ng-container *ngIf="room.id == schedule.room_id">
                                <hr>
                                <span
                                    class="bg-sky padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16 xs-font-size13">{{
                                    schedule.lecture.name }} BY {{schedule.lecture.teacher.name}}</span> <br><br>
                                <span
                                    class="bg-green padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">From
                                    : {{schedule.start_time_12}}</span>
                                <br><br>
                                <span
                                    class="bg-purple padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">To
                                    : {{schedule.end_time_12}}</span>
                                <br><br>
                                <button outline nbButton shape="semi-round" size="tiny" status="info"
                                    (click)="onEditClick(schedule, editForm)">Edit</button>&nbsp;
                                <button outline nbButton shape="semi-round" size="tiny" status="warning"
                                    (click)="onDeleteClick(schedule, dialog)">Delete</button>
                                <hr>
                            </ng-container>
                        </ng-container>
                    </nb-card-body>
                </nb-card>
            </div>
        </div>


    </nb-card-body>
</nb-card>

<ng-template #editForm let-data let-ref="dialogRef">
    <nb-card id="modal">
        <nb-card-header>
            <div *ngIf="isEditForm">Edit Schedule of {{schedule.lecture.name}}</div>
        </nb-card-header>
        <nb-card-header>
            <div class="animated fadeIn">
                <div class="alert alert-danger" role="alert" *ngIf="viewScheduleAlert.status=='Error'">
                    {{ viewScheduleAlert.message }}
                </div>
                <div class="alert alert-warning" role="alert" *ngIf="viewScheduleAlert.status=='warning'">
                    {{ viewScheduleAlert.message }}
                </div>
                <div class="alert alert-success" role="alert" *ngIf="viewScheduleAlert.status=='success'">
                    {{ viewScheduleAlert.message }}
                </div>
            </div>
        </nb-card-header>
        <nb-card-body>
            <form class="form-horizontal" [formGroup]="scheduleForm">
                <div class="form-group row">
                    <div class="col-sm-12">
                        <nb-card accent="info">
                            <nb-card-body>
                                <label class="form-control-label" style="font-size: 14px;">Enter
                                    Select Date</label>
                                <br>
                                <input type="date" class="form-control" formControlName="date">
                            </nb-card-body>
                        </nb-card>
                    </div>
                    <br>
                </div>

                <div class="form-group row">
                    <div class="col-sm-12">
                        <nb-card accent="info">
                            <nb-card-body>
                                <label class="form-control-label" style="font-size: 14px;">Enter
                                    Enter Schedule Start Time</label>
                                <br>
                                <input class="form-control" type="time" formControlName="start_time">
                                <br>
                                <label class="form-control-label" style="font-size: 14px;">Enter
                                    Enter Schedule End Time</label>
                                <br>
                                <input class="form-control" formControlName="end_time" type="time">
                            </nb-card-body>
                        </nb-card>
                    </div>
                </div>


                <div class="form-group row">
                    <div class="col-sm-12">
                        <nb-card accent="info">
                            <nb-card-body>
                                <label class="form-control-label" style="font-size: 14px;">Enter
                                    Select Room Number</label>
                                <br>
                                <select id="course" class="form-control" formControlName="room_id"
                                    placeholder="Select Room Id">
                                    <option value="1">Room 1</option>
                                    <option value="2">Room 2</option>
                                    <option value="3">Room 3</option>
                                    <option value="4">Room 4</option>
                                    <option value="5">Room 5</option>
                                </select>
                            </nb-card-body>
                        </nb-card>
                    </div>
                    <br><br>
                </div>
            </form>
        </nb-card-body>
        <nb-card-footer>
            <button nbButton (click)="ref.close()">Back</button>
            <button type="submit" id="submitButton" nbButton (click)="updateSchedule(ref)">Update
                Lecture</button>
        </nb-card-footer>
    </nb-card>
</ng-template>

<ng-template #createForm let-data let-refE="dialogRef">
    <nb-card id="modal">
        <nb-card-header>
            <div *ngIf="isCreateForm"> Create Schedule</div>
        </nb-card-header>
        <nb-card-header>
            <div class="animated fadeIn">
                <div class="alert alert-danger" role="alert" *ngIf="viewScheduleAlert.status=='Error'">
                    {{ viewScheduleAlert.message }}
                </div>
                <div class="alert alert-warning" role="alert" *ngIf="viewScheduleAlert.status=='warning'">
                    {{ viewScheduleAlert.message }}
                </div>
                <div class="alert alert-success" role="alert" *ngIf="viewScheduleAlert.status=='success'">
                    {{ viewScheduleAlert.message }}
                </div>
            </div>
        </nb-card-header>
        <nb-card-body>
            <form class="form-horizontal" [formGroup]="scheduleForm">
                <div class="form-group row" *ngIf="isCreateForm">
                    <div class="col-sm-12">
                        <nb-card accent="info">
                            <nb-card-body>
                                <div class="form-group row">
                                    <label for="courseMedium" class="label col-sm-6 form-control-label"
                                        style="font-size: 12.75px;">Select Course </label>

                                    <div class="col-sm-6">
                                        <select id="course" class="form-control" formControlName="course_id"
                                            placeholder="Select Super Course"
                                            (change)="courseSelection($event.target.value)">
                                            <option *ngFor="let course of courses" value={{course.id}}>
                                                {{course.name}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="lectureName" class="label col-sm-6 form-control-label"
                                        style="font-size: 12.75px;">Select Lecture </label>

                                    <div class="col-sm-6">
                                        <select id="lectureName" class="form-control" formControlName="lecture_id"
                                            placeholder="Select Lecture">
                                            <option *ngFor="let lecture of lectures" value={{lecture.id}}>
                                                {{lecture.name}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </nb-card-body>
                        </nb-card>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-sm-12">
                        <nb-card accent="info">
                            <nb-card-body>
                                <label class="form-control-label" style="font-size: 14px;">Enter
                                    Select Date</label>
                                <br>
                                <input type="date" class="form-control" formControlName="date">
                            </nb-card-body>
                        </nb-card>
                    </div>
                    <br>
                </div>

                <div class="form-group row">
                    <div class="col-sm-12">
                        <nb-card accent="info">
                            <nb-card-body>
                                <label class="form-control-label" style="font-size: 14px;">Enter
                                    Enter Schedule Start Time</label>
                                <br>
                                <input class="form-control" type="time" formControlName="start_time">
                                <br>
                                <label class="form-control-label" style="font-size: 14px;">Enter
                                    Enter Schedule End Time</label>
                                <br>
                                <input class="form-control" formControlName="end_time" type="time">
                            </nb-card-body>
                        </nb-card>
                    </div>
                </div>


                <div class="form-group row">
                    <div class="col-sm-12">
                        <nb-card accent="info">
                            <nb-card-body>
                                <label class="form-control-label" style="font-size: 14px;">Enter
                                    Select Room Number</label>
                                <br>
                                <select id="course" class="form-control" formControlName="room_id"
                                    placeholder="Select Room Id">
                                    <option value="1">Room 1</option>
                                    <option value="2">Room 2</option>
                                    <option value="3">Room 3</option>
                                    <option value="4">Room 4</option>
                                    <option value="5">Room 5</option>
                                </select>
                            </nb-card-body>
                        </nb-card>
                    </div>
                    <br><br>
                </div>
            </form>
        </nb-card-body>
        <nb-card-footer>
            <button nbButton (click)="refE.close()">Back</button>
            <button type="submit" *ngIf="isCreateForm" nbButton id="submitButton"
                (click)="createNewOneTimeSchedule(refE)">Create
                Lecture</button>
        </nb-card-footer>
    </nb-card>
</ng-template>