.delete-modal{
  width: 800px;
  height: 300px;
} 

.bg-light-gray {
background-color: #f7f7f7;
}
.table-bordered thead td, .table-bordered thead th {
border-bottom-width: 2px;
}
.table thead th {
vertical-align: bottom;
border-bottom: 2px solid #dee2e6;
}
.table-bordered td, .table-bordered th {
border: 1px solid #dee2e6;
}


.bg-sky.box-shadow {
box-shadow: 0px 5px 0px 0px #00a2a7
}



.bg-green.box-shadow {
box-shadow: 0px 5px 0px 0px #4ca520
}



.bg-pink.box-shadow {
box-shadow: 0px 5px 0px 0px #e82d8b
}

.bg-purple.box-shadow {
box-shadow: 0px 5px 0px 0px #8343e8
}




.bg-sky {
background-color:#1f6182
}


.bg-green {
background-color:#4492a6
}




.bg-purple {
background-color:  #209ebd
}



.padding-15px-lr {
padding-left: 15px;
padding-right: 15px;
}
.padding-5px-tb {
padding-top: 5px;
padding-bottom: 5px;
}
.margin-10px-bottom {
margin-bottom: 10px;
}
.border-radius-5 {
border-radius: 5px;
}

.margin-10px-top {
margin-top: 10px;
}
.font-size14 {
font-size: 14px;
}

.text-light-gray {
color: black;
}
.font-size13 {
font-size: 13px;
}


