<nb-card>
    <nb-card-header>
        <div class="row">
            <div class="col-sm-5">
                <div>
                    <label for="subjectName" style="font-size: 14px;">Select Lecture </label>
                    <br>
                    <div>
                        <nb-select (selectedChange)="selectLecture($event)" placeholder="Please Select Lecture">
                            <nb-option *ngFor="let lecture of lectures" value={{lecture.id}}>{{lecture.name}}
                            </nb-option>
                        </nb-select>
                    </div>
                </div>
            </div>
        </div>
    </nb-card-header>
    <nb-card-body>

    </nb-card-body>
</nb-card>