<nb-card size="flexible">
  <nb-card-header>
  </nb-card-header>
  <nb-card-body>
    <nb-tabset fullWidth>
      <nb-tab tabTitle="Edit Super Course">
        <div class="row">
          <table class="table table-bordered" *ngIf="allCourses.length>0">
            <thead>
              <tr>
                <th>Course Name</th>
                <!-- <th>Number Of Students</th> -->
                <th>Course Mediums</th>
                <th>Edit</th>
                <th>Status</th>
                <th *ngIf="role=='Admin'">Delete</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let course of allCourses">
                <td>{{course.course.name}}</td>
                <!-- <td>{{course.course.no_of_students}}</td> -->
                <td>
                  <ul *ngFor="let courseM of course.course_mediums">
                    <li>{{courseM.name}}</li>
                  </ul>
                </td>
                <td *ngIf="course.course.status=='active'"><span class="badge badge-success">Active</span></td>
                <td *ngIf="course.course.status=='deleted'"><span class="badge badge-warning">Deleted</span></td>
                <td><button nbButton status="info" (click)="editClickCourse(course.course,courseEdit)">Edit</button>
                </td>
                <td *ngIf="role=='Admin' && course.course.status=='active'"><button nbButton status="warning"
                    (click)="deleteClickCourse(course.course, deleteConfirmation)">Delete</button></td>
                <td *ngIf="role=='Admin' && course.course.status=='deleted'"><button nbButton status="success"
                    (click)="activateCourse(course.course)">Activate</button></td>
              </tr>
            </tbody>
            <div *ngIf="allCourses.length==0">
              No courses with mediums
            </div>
          </table>
        </div>
      </nb-tab>
      <nb-tab tabTitle="Edit Course (with medium)">
        <div class="row">
          <label class="col-sm-3" for="name" class="label col-sm-3 form-control-label"
            style="font-size: 12.75px;">Select
            Course</label>
          <nb-select class="col-sm-4" (selectedChange)="superCourseSelection($event)"
            placeholder="Please Select Course">
            <nb-option *ngFor="let course of allCourses" value={{course.course.id}}>{{course.course.name}}
            </nb-option>
          </nb-select>
          <br>
        </div> <br>
        <div class="row">
          <table class="table table-bordered" *ngIf="courseMediums.length>0">
            <thead>
              <tr>
                <th>Course Name</th>
                <!-- <th>Number Of Students</th> -->
                <th>Status</th>
                <th *ngIf="role=='Admin'">Delete</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let courseM of courseMediums">
                <td>{{courseM.name}}</td>
                <!-- <td>{{courseM.no_of_students}}</td> -->
                <td *ngIf="courseM.status=='active'"><span class="badge badge-success">Active</span></td>
                <td *ngIf="courseM.status=='deleted'"><span class="badge badge-warning">Deleted</span></td>

                <td *ngIf="role=='Admin' && courseM.status=='active'"><button nbButton status="warning"
                    (click)="deleteCourseMedium(courseM)">Delete</button></td>

                <td *ngIf="role=='Admin' && courseM.status=='deleted'"><button nbButton status="success"
                    (click)="activateCourseMedium(courseM)">Activate</button></td>
              </tr>
            </tbody>
            <div *ngIf="courseMediums.length==0">
              No courses with mediums
            </div>
          </table>
        </div>

      </nb-tab>
    </nb-tabset>
  </nb-card-body>
</nb-card>

<ng-template #courseEdit let-data let-ref="dialogRef">
  <nb-card id="modal">
    <nb-card-header>Edit Course</nb-card-header>
    <nb-card-header>
      <div class="animated fadeIn">
        <div class="alert alert-danger" role="alert" *ngIf="editCourseAlert.status=='error'">
          {{ editCourseAlert.message }}
        </div>
        <div class="alert alert-warning" role="alert" *ngIf="editCourseAlert.status=='warning'">
          {{ editCourseAlert.message }}
        </div>
        <div class="alert alert-success" role="alert" *ngIf="editCourseAlert.status=='success'">
          {{ editCourseAlert.message }}
        </div>
      </div>
    </nb-card-header>
    <nb-card-body>
      <br>
      <form class="form-horizontal" [formGroup]="editCourseForm">
        <div class="form-group row">
          <label for="courseName" class="label col-sm-3 form-control-label" style="font-size: 12.75px;">Enter Course
            Name</label>
          <div class="col-sm-9">
            <input type="text" formControlName="name" nbInput id="name" style="font-size: 12.75px;"
              placeholder="Course Name">
          </div>
        </div>

        <br><br>
        <div class="form-group row">
          <label for="courseCordinator" class="label col-sm-3 form-control-label" style="font-size: 12.75px;">Add
            Medium</label>
          <div class="col-sm-9">
            <nb-select formControlName="medium" placeholder="Please Select Medium">
              <nb-option *ngFor="let medium of availableMediums" value={{medium.id}}>
                {{medium.name}}
              </nb-option>
            </nb-select>
          </div>
        </div>
      </form>
    </nb-card-body>
    <nb-card-footer>
      <button nbButton (click)="ref.close()">Back</button>
      <button nbButton id="submitButton" (click)="editCourse(ref, data)">Submit</button>&nbsp;
    </nb-card-footer>
  </nb-card>
</ng-template>

<ng-template #deleteConfirmation let-data let-refDelete="dialogRef">
  <nb-card>
    <nb-card-header>Delete Confimation</nb-card-header>
    <nb-card-body>Are you sure you want to delete this medium?</nb-card-body>
    <nb-card-footer>
      <button nbButton (click)="onDeleteConfirmationCourse(refDelete)">Yes</button>&nbsp;
      <button nbButton (click)="refDelete.close()">Cancel</button>
    </nb-card-footer>
  </nb-card>
</ng-template>