<nb-card>
    <nb-card-header>User Roles</nb-card-header>
    <nb-card-body>
        <br><br><br>
        <div class="container">
            <button id="add-new" outline nbButton shape="semi-round" status="info" (click)="onAddClick(dialog)">Add new
                role</button>
            <br><br><br>
            <ul class="responsive-table">
                <li class="table-header">
                    <div class="col col-1">Id</div>
                    <div class="col col-2">Code</div>
                    <div class="col col-3">Name</div>
                    <div class="col col-4">Status</div>
                    <div class="col col-5">Actions</div>
                </li>
                <li class="table-row">
                    <div class="col col-1" data-label="Job Id">1</div>
                    <div class="col col-2" data-label="Customer Name">ADM</div>
                    <div class="col col-3" data-label="Amount">Admin</div>
                    <div class="col col-4" data-label="Payment Status">Active</div>
                    <div class="col col-5" data-label="Payment Status"><button id="view" outline nbButton
                            shape="semi-round" status="info">More</button></div>
                </li>
                <li class="table-row">
                    <div class="col col-1" data-label="Job Id">2</div>
                    <div class="col col-2" data-label="Customer Name">TEA</div>
                    <div class="col col-3" data-label="Amount">Teacher</div>
                    <div class="col col-4" data-label="Payment Status">Active</div>
                    <div class="col col-5" data-label="Payment Status"><button id="view" outline nbButton
                            shape="semi-round" status="info">More</button></div>
                </li>
                <li class="table-row">
                    <div class="col col-1" data-label="Job Id">3</div>
                    <div class="col col-2" data-label="Customer Name">STD</div>
                    <div class="col col-3" data-label="Amount">Student</div>
                    <div class="col col-4" data-label="Payment Status">Active</div>
                    <div class="col col-5" data-label="Payment Status"><button id="view" outline nbButton
                            shape="semi-round" status="info">More</button></div>
                </li>
                <li class="table-row">
                    <div class="col col-1" data-label="Job Id">7</div>
                    <div class="col col-2" data-label="Customer Name">FSTF</div>
                    <div class="col col-3" data-label="Amount">Front Office Staff</div>
                    <div class="col col-4" data-label="Payment Status">Inactive</div>
                    <div class="col col-5" data-label="Payment Status"><button id="view" outline nbButton
                            shape="semi-round" status="info">More</button></div>
                </li>
                <li class="table-row">
                    <div class="col col-1" data-label="Job Id">8</div>
                    <div class="col col-2" data-label="Customer Name">MNG</div>
                    <div class="col col-3" data-label="Amount">Manager</div>
                    <div class="col col-4" data-label="Payment Status">Active</div>
                    <div class="col col-5" data-label="Payment Status"><button id="view" outline nbButton
                            shape="semi-round" status="info">More</button></div>
                </li>
            </ul>
        </div>
    </nb-card-body>
</nb-card>

<ng-template #dialog let-data let-ref="dialogRef">
    <nb-card id="addNewForm">
        <nb-card-header>Add New User Role</nb-card-header>
        <nb-card-body>
            <br>
            <div class="form-group row">
                <label for="lectureName" class="label col-sm-5 form-control-label" style="font-size: 12.75px;">Role
                    Name</label>
                <div class="col-sm-7">
                    <input type="text" nbInput id="lectureName" style="font-size: 12.75px;"
                        placeholder="Eg: Administrator">
                </div>
            </div><br>
            <div class="form-group row">
                <label for="lectureName" class="label col-sm-5 form-control-label" style="font-size: 12.75px;">Code
                    Name</label>
                <div class="col-sm-7">
                    <input type="text" nbInput id="lectureName" style="font-size: 12.75px;" placeholder="Eg: ADM">
                </div>
            </div><br>

            <div class="form-group row">
                <label for="course_type" class="label col-sm-5 form-control-label"
                    style="font-size: 12.75px;">Status</label>
                <div class="col-sm-7">
                    <nb-select placeholder="Please Select">
                        <nb-option value="active">Active</nb-option>
                        <nb-option value="in_active">InActive</nb-option>
                    </nb-select>
                </div>
            </div>
        </nb-card-body>
        <nb-card-footer>
            <button nbButton (click)="ref.close()">Back</button>
            <button nbButton id="submitButton" (click)="addNewRole(ref, data)">Submit</button>&nbsp;
        </nb-card-footer>
    </nb-card>
</ng-template>